{{extend 'layout.html'}}

<h1>
{{=event.name}}
</h1>
<h3>
    Hosted by:
</h3>
{{=event.student_org_id.name}}
<h3>
    Where:
</h3>
{{=event.place}}
<h3>
    When:
</h3>
From {{=event.start_time}} to {{=event.end_time}}
<h3>
    Description:
</h3>
{{=event.description}}
<br><br>

<!--
Places an RSVP/unRSVP button if the user is not RSVPed or RSVPed
Places an Edit event button if user is an admin
Places neither if the user is not logged in
-->
{{if auth.user:}}
    {{if db(db.rsvp.event_id == event.id and db.rsvp.student_id == auth.user.id).select() :}}
        {{=A('unRSVP', _class = 'btn', _href=URL('default', 'unRSVP_action', args=[event.id, auth.user_id]))}}
    {{else:}}
        {{=A('RSVP', _class = 'btn', _href=URL('default', 'RSVP_action', args=[event.id, auth.user_id]))}}
        {{=A('Maybe I'll attend', _class = 'btn', _href=URL('default', 'RSVP_maybe', args=[event.id, auth.used_id]) )}}
    {{pass}}
    {{if db(db.admin_pool.student_org_id == event.student_org_id and db.admin_pool.student_id == auth.user.id).select() :}}
            {{=A('Edit event', _class = 'btn', _href = URL('default', 'Event_edit', args=[event.id]))}}
    {{pass}}
{{pass}}

<h3>
    Comments:
</h3>
<table>
    <tr>
        <th>Name</th>
        <th>Comment</th>
    </tr>

{{
comments = db(db.comments.event_id == event.id).select(orderby = ~db.comments.creation_time)
}}
{{for comment in comments:}}
    {{=TR(
        TD(comment.poster_id.student_name.first_name),
        TD(comment.contents)
    )}}
{{pass}}
</table>
{{if auth.user}}
    {{=A('Make a post', _class = 'btn', _href=URL('default', 'RSVP_post', args=[event.id, auth.user_id]))}}
{{pass}}
<!--
Missing: pictures
-->
