{{extend 'layout.html'}}

<h1>
{{=event.name}}
</h1>
<h3>
    Hosted by:
</h3>
{{=event.student_org_id.name}}
<h3>
    Where:
</h3>
{{=event.place}}
<h3>
    When:
</h3>
From {{=event.start_time}} to {{=event.end_time}}
<h3>
    Description:
</h3>
{{=event.description}}
<br><br>
{{admin = False}}

<!--
Places an RSVP/unRSVP button if the user is not RSVPed or RSVPed
Places an Edit event button if user is an admin
Places neither if the user is not logged in
-->
{{if auth.user:}}
    {{student = db(db.student.student_name == auth.user.id).select().first()}}
    {{if db( (db.admin_pool.student_org_id == event.student_org_id) & (db.admin_pool.student_id == student) ).select() :}}
            {{admin = True}}
    {{pass}}
    {{if db((db.rsvp.event_id == event.id) and (db.rsvp.student_id == auth.user.id)).select() :}}
        {{user_rsvp = db(db.rsvp.event_id == event.id and db.rsvp.student_id == auth.user.id).select().first()}}
        {{=A('unRSVP', _class = 'btn', _href=URL('default', 'unRSVP_action', args=[user_rsvp.id, event.id]))}}
        <!-- Change from yes to maybe -->
        {{if user_rsvp.rsvp_yes_or_maybe is True:}}
            {{=A('Change to Maybe', _class = 'btn', _href=URL('default', 'RSVP_change', args=[user_rsvp.id, False, event.id]))}}
        {{else:}}
            {{=A('Change to Yes', _class = 'btn', _href=URL('default', 'RSVP_change', args=[user_rsvp.id, True, event.id]))}}
        {{pass}}
    {{else:}}
        <!-- did not rsvp yet -->
        {{=A('RSVP', _class = 'btn', _href=URL('default', 'RSVP_action', args=[event.id, student.id, True]))}}
        {{=A('Maybe', _class = 'btn', _href=URL('default', 'RSVP_action', args=[event.id, student.id, False]) )}}
    {{pass}}
    {{if admin == True:}}
            {{=A('Edit event', _class = 'btn', _href = URL('default', 'event_edit', args=[event.id]))}}
    {{pass}}
{{pass}}

<!--
    Comments section
-->

<h3>
    Comments:
</h3>
<table>
    <tr>
        <th>Name</th>
        <th>Comment</th>
        {{if admin is True:}}
            <th>Delete post?</th>
        {{pass}}
    </tr>
{{if db(db.comments.event_id == event.id).select():}}
    {{
    comments = db( (db.comments.event_id ==  event.id) & (db.comments.comment_type == 0)).select(orderby = ~db.comments.creation_time)
    }}

    {{for comment in comments:}}
        <tr>
            <td>{{=comment.poster_id.student_name.first_name}}</td>
            <td>{{=comment.contents}}</td>
            {{if admin is True:}}
                <td>{{=A('Delete post', _href = URL('default','delete_post', args=[event.id, comment.id]))}}</td>
            {{pass}}
        </tr>
    {{pass}}

{{pass}}
</table>
{{if auth.user:}}
    {{=A('Make a post', _class = 'btn', _href=URL('default', 'event_post', args=[event.id, auth.user_id, 0]))}}
{{pass}}
<br>

<!--
    Picture Section (only visible when there is at least 1 picture)
-->

{{if db(db.picture.picture_owner_is_student_org == False and
                 db.picture.id_of_picture_owner == event.id).select():}}
    <h3>
        Pictures (Click to view and comment)
    </h3>
    {{pics = db(db.picture.picture_owner_is_student_org == False and
                 db.picture.id_of_picture_owner == event.id).select()}}
    {{for pic in pics:}}
            <a href="{{=URL('default', 'view_picture', args=[pic.id])}}"><img src="{{=URL('download', args=pic.image)}}" style = "width:200px;height:200px" /></a>

    {{pass}}
{{pass}}
<br>
    <!--admins can edit pictures-->
{{if admin is True:}}
    {{=A('Edit pictures', _class = 'btn', _href=URL('default', 'edit_event_pictures', args=[event.id]))}}
    <br><br><br><br>
    {{=A('Delete event', _class = 'btn alert', _href=URL('default', 'delete_event', args=[event.id]))}}
{{pass}}
