{{extend 'layout.html'}}

<h3>Student Org Managment</h3>
{{=A('Add Student Org', _class = 'btn',  _href=URL('default', 'add_student_org'))}}
<table>
  {{for title,org_acronym,org_id in org_titles_acronyms_ids:}}
    <tr>
      <td>{{=org_acronym}}</td>
      <td>{{=title}}</td>
      <td>{{=A('View Student Org', _class='btn', _href=URL('view_student_org', args=[org_id]))}}</td>
      <td>{{=A('Add Event', _class='btn', _href=URL('add_event_for_org', args=[org_id]))}}</td>
      <td>{{=A('Edit Student Org', _class = 'btn',  _href=URL('default', 'edit_student_org', args=[org_id]))}}</td>
      <td>{{=A('Edit Picture', _class = 'btn',  _href=URL('default', 'add_student_org_picture', args=[org_id]))}}</td>
      <td>{{=A('Delete Student Org', _class = 'btn',  _href=URL('default', 'delete_student_org', args=[org_id]))}}</td>
    </tr>
  {{pass}}
</table>
