{{extend 'layout.html'}}

<style>
.light {
	color: #B2B2B2;
}
</style>

<script type="text/javascript">
function index()
{
	window.location = "{{=URL('index')}}";
}
</script>

<h1>{{=student_orgs.name}} ({{=student_orgs.acronym}})</h1>
<p class="light">Joined on {{=student_orgs.join_date}}</p>
<br>
<h4>Description:</h4>
<p>{{=student_orgs.description}}</p>
<br>
<h4>Meeting Location:</h4>
<p>{{=student_orgs.meeting_location}}</p>
<br>
<h4>Meeting Times:</h4>
<p>{{=student_orgs.meeting_times}}</p>
<br>
<h4>Website:</h4>
<p>{{=student_orgs.website}}</p>
<br>
<h4>Email:</h4>
<p>{{=student_orgs.email}}</p>
<br>
<h4>Leaders:</h4>
{{rows = db(db.student_org.id==db.admin_pool.student_org_id).select()}}
{{#name = db(db.admin_pool.student_id==db.student.id).select()}}
    {{for row in rows:}}
        <p>{{=row.admin_pool.title}} : {{=row.admin_pool.student_id.student_name.first_name}} {{=row.admin_pool.student_id.student_name.last_name}}</p>
    {{pass}}
<br>

<!--
Button to edit picture
-->

{{if db(db.picture.picture_owner_is_student_org == True and
                 db.picture.id_of_picture_owner == student_orgs.id).select():}}
    {{pics = db(db.picture.picture_owner_is_student_org == False and
                 db.picture.id_of_picture_owner == event.id).select()}}
    {{for pic in pics:}}
<center>
<img width="200px"
     src="{{=URL('download', args=pic.id)}}" /> </center>
<br>
    {{pass}}
    {{=A('Edit Picture', _class = 'btn',  _href=URL('default', 'add_student_org_picture', args=[student_org.id]))}}
{{pass}}

<!--
Places an Edit Student Org button if the user is an admin
Places neither if the user is not logged in
-->
{{admin = False}}

{{if auth.user:}}
    {{if db(db.admin_pool.student_org_id == student_orgs.id and db.admin_pool.student_id == auth.user.id).select() :}}
            {{admin = True}}
    {{pass}}
    {{if admin == True:}}
            {{=A('Edit Student Org', _class = 'btn',  _href=URL('default', 'edit_student_org', args=[student_org.id]))}}
            {{=A('Delete Student Org', _class = 'btn',  _href=URL('default', 'delete_student_org', args=[student_org.id]))}}
    {{pass}}
{{pass}}

{{=BUTTON('Back', _onclick="index()")}}
