{{extend 'layout.html'}}

<img src="{{=URL('download', args=pic.image)}}" />
<br>
{{event = db.events(pic.id_of_picture_owner)}}
{{admin = False}}
{{if auth.user:}}
    {{student = db(db.student.student_name == auth.user.id).select().first()}}
    {{if db( (db.admin_pool.student_org_id == event.student_org_id) & (db.admin_pool.student_id == student) ).select() :}}
            {{me = db( (db.admin_pool.student_org_id == event.student_org_id) and (db.admin_pool.student_id == student) ).select().first()}}
            {{=me.id}}
    {{pass}}
{{pass}}
<br><br>
<!--
    Comments section
-->

{{if db( (db.pic_comments.picid == pic.id) & (db.pic_comments.comment_type == 0) ).select():}}
    <h3>
    Comments:
    </h3>
    <table>
    <tr>
        <th>Name</th>
        <th>Comment</th>
        {{if admin is True:}}
            <th>Delete post?</th>
        {{pass}}
    </tr>
    {{
    comments = db((db.pic_comments.picid == pic.id) & (db.pic_comments.comment_type == 0)).select(orderby = ~db.pic_comments.creation_time)
    }}

    {{for comment in comments:}}
        <tr>
            <td>{{=comment.poster_id.student_name.first_name}}</td>
            <td>{{=comment.contents}}</td>
            {{if admin is True:}}
                <td>{{=A('Delete post', _href = URL('default','delete_pic_post', args=[pic.id, comment.id]))}}</td>
            {{pass}}
        </tr>
    {{pass}}
    </table>
{{pass}}
{{if auth.user:}}
    {{=A('Make a post', _class = 'btn', _href=URL('default', 'pic_post', args=[pic.id, auth.user_id, 0]))}}
{{pass}}
<br>

{{=A('Return', _class = 'btn', _href=URL('default', 'event', args=[event.id]) )}}
