{{extend 'layout.html'}}
<h1>{{=events.name}}</h1>
<h3>
    hosted by:
    <h4><p>{{=events.student_org_id.name}} ({{=events.student_org_id.acronym}})</p></h4>
</h3>
<h3>
    Description:
    <h4><p>{{=events.description}}</p></h4>
</h3>
<h3>
    Location:
    <h4><p>{{=events.place}}</p></h4>
</h3>
<h3>
    Time:
    <h4><p>Starts: <i>{{=events.start_time}}</i> Ends: <i>{{=events.end_time}}</i></p></h4>
</h3>

{{=A('View Student Org', _class='btn', _href=URL('view_student_org', args=[events.student_org_id]))}}
